body {
  margin: 0 auto;
  width: 1920px;
}

.header {
  margin: 0;
  padding: 40px 0;
  width: 1920px;
  background-color: #454441;
  background-image: url(../img/header_bg.jpg);
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-logomenu {
  margin: 0 auto;
  margin-bottom: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo {
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
}

.header-logo-txt {
  display: block;
}

.header-logo:hover {
  fill: #c7b299;
}

.header-logo:hover .header-logo-txt {
  color: #c7b299;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-menu-list-link-link {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 30px;
  text-decoration: none;
}

.header-menu-list-link-link:hover {
  color: #c7b299;
}

.header-menu-list-link-link:active {
  color: #d3c1ad;
}

.header-form-btn {
  background-color: transparent;
  border: none;
  margin: 0 30px 0 65px;
  padding: 0;
  fill: #ffffff;
  outline: none;
}

.header-form-btn:hover {
  fill: #c7b299;
}

.header-form-search-label {
  fill: #ffffff;
  position: relative;
}

.header-form-search-label:hover {
  fill: #c7b299;
}

.header-form-input {
  position: absolute;
  top: 15px;
  left: 0;
  width: 18px;
  height: 30px;
  z-index: -2;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.header-form-input:focus {
  z-index: 1;
  width: 300px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

.header-content {
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content-txt {
  width: 1170px;
  padding: 0 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.header-content-txt-h {
  margin: 0 0 15px 0;
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  display: block;
  text-align: center;
}

.header-content-txt-h2 {
  margin: 0 0 20px 0;
  font-family: Raleway;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
  display: block;
  text-align: center;
}

.header-content-txt-p {
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  word-break: break-all;
}

.header-content-txt-btn {
  margin: 50px 0 0 0;
  padding: 0;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3.0px;
  outline: none;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
}

.header-content-txt-btn:hover {
  background-color: #c7b299;
}

.header-content-txt-btn:active {
  background-color: #d3c1ad;
}

.header-content-arrow-link {
  display: block;
  width: 375px;
  height: 290px;
  position: relative;
}

.header-content-arrow-link::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 44%;
  left: 50%;
}

.header-content-arrow-link:hover::after {
  border-bottom: 2px solid #c7b299;
  border-left: 2px solid #c7b299;
}

.header-content-arrow-link:active::after {
  border-bottom: 2px solid #998675;
  border-left: 2px solid #998675;
}

.header-content-arrow-link2 {
  display: block;
  width: 375px;
  height: 290px;
  position: relative;
}

.header-content-arrow-link2::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 44%;
  left: 50%;
}

.header-content-arrow-link2:hover::after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
}

.header-content-arrow-link2:active::after {
  border-top: 2px solid #998675;
  border-right: 2px solid #998675;
}

.header-pagination {
  margin: 290px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-pagination-link {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
  opacity: 0.5;
  margin-right: 11px;
}

.header-pagination-link:last-child {
  margin-right: 0;
}

.header-pagination-link:hover {
  background-color: transparent;
  border: 2px solid #d3c1ad;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-pagination-link:active {
  background-color: transparent;
  border: 2px solid #998675;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-content {
  margin: 0 auto;
  padding: 0;
  width: 1920px;
}

.main-options {
  margin: 0 auto;
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-options-item {
  margin: 95px 0 80px 0;
  width: 266.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-options-item::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: transparent;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-options-item:hover:after {
  background-color: #c7b299;
}

.main-options-item:hover .main-options-item-h {
  color: #c7b299;
}

.main-options-item:hover .main-options-item-svg {
  fill: #c7b299;
}

.main-options-item:active:after {
  background-color: #998675;
}

.main-options-item:active .main-options-item-h {
  color: #998675;
}

.main-options-item:active .main-options-item-svg {
  fill: #998675;
}

.main-options-item-svg {
  margin: 0 0 32px 0;
  fill: #555555;
  display: block;
}

.main-options-item-h {
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-transform: capitalize;
}

.main-options-item-txt {
  margin: 0;
  margin: 20px 0 35px 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
}

.main-presentation {
  margin: 0 auto;
  padding: 85px 0 0 0;
  width: 1920px;
  height: 637px;
  text-align: center;
  background-color: #fbfaf8;
}

.main-presentation-wrp {
  margin: 0 auto;
  width: 1170px;
}

.main-presentation-p {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.main-presentation-txt {
  margin: 25px auto 40px auto;
  display: block;
  max-width: 757px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.main-presentation-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-presentation-img-photo:first-of-type {
  position: absolute;
  top: 82px;
  left: -31px;
  z-index: 1;
}

.main-presentation-img-photo:nth-of-type(2) {
  margin: 0 auto;
  z-index: 2;
}

.main-presentation-img-photo:last-of-type {
  position: absolute;
  top: 82px;
  left: 430px;
  z-index: 1;
}

.main-ad {
  width: 1920px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.main-ad-content {
  width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-ad-txt {
  width: 80%;
}

.main-ad-txt-offer {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
}

.main-ad-txt-offer-companyname {
  color: #c7b299;
}

.main-ad-txt-desc {
  margin: 0;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.main-ad-btn {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.main-ad-btn:hover {
  background-color: #c7b299;
  color: #555555;
}

.main-ad-btn:active {
  background-color: #d3c1ad;
  color: #8c8c8c;
}

.main-latest-products {
  width: 1170px;
  margin: 0 auto;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-latest-products-title {
  margin-bottom: 25px;
  text-transform: capitalize;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.main-latest-products-txt {
  margin: 0 0 40px 0;
  padding: 0;
  width: 770px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.main-latest-products-btns {
  margin: 0 auto 40px auto;
}

.main-latest-products-btns-item {
  margin: 0 10px 0 0;
  padding: 0;
  width: 120px;
  height: 32px;
  border: 1.0px solid #ebebeb;
  border-radius: 3.0px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  text-transform: capitalize;
  outline: none;
}

.main-latest-products-btns-item:last-child {
  margin-right: 0;
}

.main-latest-products-btns-item:hover {
  background-color: #998675;
  color: #ffffff;
}

.main-latest-products-btns-item:active {
  background-color: #c7b299;
  color: #ffffff;
}

.main-latest-products-cards {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-latest-products-cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-latest-products-cards-item:first-of-type {
  margin-bottom: 30px;
}

.main-latest-products-cards-item:nth-of-type(2) {
  margin-bottom: 30px;
}

.main-latest-products-cards-item:nth-of-type(3) {
  margin-bottom: 30px;
}

.main-latest-products-cards-item-img {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fbfaf8;
}

.main-latest-products-cards-item-txt {
  padding: 30px 0 30px 30px;
  background-color: #fbfaf8;
  position: relative;
}

.main-latest-products-cards-item-txt::before {
  content: '';
  position: absolute;
  left: 10px;
  top: -40px;
  border: 25px solid transparent;
  border-bottom: 20px solid #fbfaf8;
}

.main-latest-products-cards-item-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  text-transform: capitalize;
}

.main-latest-products-cards-item-desc {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  text-transform: capitalize;
}

.main-latest-products-cards-item-link {
  position: absolute;
  top: 30%;
  left: 35%;
  fill: transparent;
}

.main-latest-products-cards-item-link2 {
  position: absolute;
  top: 30%;
  right: 35%;
  fill: transparent;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-img {
  -webkit-filter: brightness(37%);
          filter: brightness(37%);
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-link, .main-latest-products-cards-item:hover .main-latest-products-cards-item-link2 {
  fill: #ffffff;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-link:hover, .main-latest-products-cards-item:hover .main-latest-products-cards-item-link2:hover {
  fill: #c7b299;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-link:active, .main-latest-products-cards-item:hover .main-latest-products-cards-item-link2:active {
  fill: #8c8c8c;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-txt {
  background-color: #362f2d;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-txt::before {
  border-bottom: 20px solid #362f2d;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-title {
  color: #ffffff;
}

.main-latest-products-cards-item:hover .main-latest-products-cards-item-desc {
  color: #c7b299;
}

.main-latest-products-load-btn {
  margin: 40px auto 80px auto;
  padding: 0;
  outline: none;
  border: none;
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.main-latest-products-load-btn:hover {
  background-color: #c7b299;
  color: #555555;
}

.main-latest-products-load-btn:active {
  background-color: #998675;
  color: #c7b299;
}

.main-video {
  width: 1920px;
  margin: 0 auto;
  max-height: 705px;
  overflow: hidden;
  position: relative;
}

.main-video-videofile {
  margin: -90px 0px 0px 0px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.main-video-content {
  width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 705px;
  position: absolute;
  top: 0;
  left: 0;
}

.main-video-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-video-content-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-video-content-btn:hover .main-video-content-icon {
  fill: #c7b299;
}

.main-video-content-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-video-content-btn:active .main-video-content-icon {
  fill: #8c8c8c;
}

.main-video-content-icon {
  margin: auto;
  fill: #ffffff;
}

.main-video-content-title {
  margin: 45px 0 30px 0;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
}

.main-video-content-txt {
  margin: 0;
  max-width: 560px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}

.main-video-content-time {
  margin: 45px 0 0 0;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.main-for-mobile {
  margin: 0 auto;
  width: 1920px;
  min-height: 695px;
  background-color: #fbfaf8;
  background-image: url(../img/for-mobile-iphone_in_hand.png);
  background-repeat: no-repeat;
  background-position: 423px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-for-mobile-content {
  margin: 190px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.main-for-mobile-content-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.main-for-mobile-content-txt {
  margin: 40px 0 25px 0;
  max-width: 657px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.main-for-mobile-content-list {
  margin: 0 0 0 50px;
  padding: 0;
  list-style-type: none;
}

.main-for-mobile-content-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
}

.main-for-mobile-content-list-info::before {
  content: "";
  display: block;
  margin: 0 30px 0 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/list-for-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.main-numbers {
  width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.main-numbers-icon {
  margin: 65px 37.5px 54px;
  fill: #c7b299;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-numbers-icon::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-numbers-desc {
  margin: 0 0 30px 0;
}

.main-numbers-desc-num {
  display: block;
  margin: 30px 0 20px 0;
  font-family: Montserrat;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
}

.main-numbers-desc-txt {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
}

.main-recent-posts {
  margin: 0 auto;
  width: 1170px;
  text-align: center;
}

.main-recent-posts-title {
  display: block;
  margin: 80px 0 30px 0;
  text-transform: capitalize;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.main-recent-posts-txt {
  margin: 0 auto 40px;
  max-width: 770px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.main-recent-posts-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-recent-posts-article {
  text-align: start;
  position: relative;
  border: 1px solid #f8f8f8;
  max-width: 370px;
}

.main-recent-posts-article:hover .main-recent-posts-article-txt {
  background-color: #362f2d;
}

.main-recent-posts-article:hover .main-recent-posts-article-txt-title {
  color: #c7b299;
}

.main-recent-posts-article:hover .main-recent-posts-article-txt-desc {
  color: #ffffff;
}

.main-recent-posts-article:hover .main-recent-posts-article-photo-img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.main-recent-posts-article:hover .main-recent-posts-article-link:hover {
  color: #fbfaf8;
  fill: #fbfaf8;
}

.main-recent-posts-article:active .main-recent-posts-article-link:active {
  color: #555555;
  fill: #555555;
}

.main-recent-posts-article:hover .main-recent-posts-article-date {
  background-color: #c7b299;
}

.main-recent-posts-article:hover .main-recent-posts-article-month {
  background-color: #a48d72;
}

.main-recent-posts-article-photo {
  margin: 0;
}

.main-recent-posts-article-photo-pgn {
  margin: 0 0 0 0;
  position: absolute;
  top: 45%;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-recent-posts-article-photo-pgn-link {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
  opacity: 0.5;
  margin-right: 11px;
}

.main-recent-posts-article-photo-pgn-link:last-child {
  margin-right: 0;
}

.main-recent-posts-article-photo-pgn-link:hover {
  background-color: transparent;
  border: 2px solid #c7b299;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-recent-posts-article-photo-pgn-link:active {
  background-color: transparent;
  border: 2px solid #998675;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-recent-posts-article-wrp-date {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-recent-posts-article-date, .main-recent-posts-article-month {
  display: block;
}

.main-recent-posts-article-date {
  text-align: center;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 35px;
  background-color: #363636;
  border-radius: 3.0px 3.0px 0.0px 0.0px;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

.main-recent-posts-article-month {
  width: 50px;
  height: 25px;
  background-color: #252525;
  border-radius: 0.0px 0.0px 3.0px 3.0px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-recent-posts-article-txt {
  margin-top: -4px;
  padding: 30px 0 35px 30px;
}

.main-recent-posts-article-txt-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
}

.main-recent-posts-article-txt-desc {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
}

.main-recent-posts-article-link {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  text-transform: capitalize;
  fill: #c7b299;
}

.main-recent-posts-wrp-btns {
  margin: 40px 0 80px 0;
}

.main-recent-posts-btn-l, .main-recent-posts-btn-r {
  padding: 0;
  border: none;
  outline: none;
  background-color: #ffffff;
  fill: #d1d1d1;
}

.main-recent-posts-btn-l:hover, .main-recent-posts-btn-r:hover {
  fill: #c7b299;
}

.main-recent-posts-btn-l:active, .main-recent-posts-btn-r:active {
  fill: #555555;
}

.main-partners {
  width: 1920px;
  min-height: 489px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/partners-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-partners-link {
  margin: 0 45px 0 45px;
  display: block;
  text-decoration: none;
}

.main-partners-link:hover .main-partners-link-logo {
  -webkit-filter: drop-shadow(9px -3px 3px black);
          filter: drop-shadow(9px -3px 3px black);
}

.main-partners-link:active .main-partners-link-logo {
  -webkit-filter: drop-shadow(9px -3px 3px black);
          filter: drop-shadow(9px -3px 3px black);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
/*# sourceMappingURL=main.css.map */